#root {
	height: 100%;
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.dark {
	#search-input {
		background-color: #1e1e1e;
		color: rgb(255, 255, 255);
		border-color: #868686;

	}

	#search-input::placeholder {
		color: lightgray;
	}
}

body.light {
	#search-input {
		background-color: white;
		color: black;
		border-color: #ccc;
	}
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.tabs-container {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}
.react-tabs__tab-panel {
	display: none;
	flex: 1;
	min-height: 0%;
}
.react-tabs__tab-panel--selected {
	display: block;
}

.center-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

body.light {
  background-color: white;
  color: black;
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

body.dark {
	height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #121212;
  color: #ffffff;
}

body.dark .tabs-container {
  background-color: #1e1e1e !important;
  color: white !important;
}

body.light .tabs-container {
  background-color: white !important;
  color: black !important;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
}
.switch-container {

  display: inline-block;
  position: relative;
}

.switch-container input {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 35px;
  background: #525252;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

label i {
  font-size: 18px;
  color: white;
  position: absolute;
  transition: opacity 0.4s ease;
}


label .fa-sun {
  left: 12px;
  color: gold;
  opacity: 1;
}

label .fa-moon {
  right: 12px;
  opacity: 1;
}

input:checked + label .fa-sun {
  opacity: 1;  
}

input:checked + label .fa-moon {
  opacity: 0;  
}
input:not(:checked) + label .fa-sun {
  opacity: 0;  
}

input:not(:checked) + label .fa-moon {
  opacity: 1; 
}


label .ball {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

input:checked + label .ball {
  transform: translateX(40px);
}
